head
	title #{ title ? title : `${bodyClass ? `${bodyClass.split('-').join(' ')}` : 'Page'}` }
	meta(charset='UTF-8')
	meta(
		name='viewport'
		content='width=device-width, initial-scale=1, viewport-fit=cover')
	meta(
		http-equiv='X-UA-Compatible'
		content='ie=edge')

	//- meta(name="theme-color" content="#4285f4")
	//- meta(name="keywords" content="теги")
	//- meta(name="description" content="описание страницы")
	//- meta(property="og:url" content="url")
	//- meta(property="og:type" content="website")
	//- meta(property="og:title" content="title")
	//- meta(property="og:image" content="img url")
	//- meta(property="og:image:alt" content="alt for upper img")
	//- meta(property="og:description" content="descr")
	//- meta(property="og:site_name" content="site title")
	//- meta(property="og:locale" content="ru_RU")
	//- meta(name="twitter:card" content="summary")
	//- meta(name="twitter:site" content="site_account")
	//- meta(name="twitter:creator" content="individual_account")
	//- meta(name="twitter:url" content="url")
	//- meta(name="twitter:title" content="title")
	//- meta(name="twitter:description" content="descr")
	//- meta(name="twitter:image" content="img url")
	//- meta(name="twitter:image:alt" content="alt for upper img")
	//- link(rel="icon" href="favicon.ico")
	//- link(rel="icon" href=" icon.svg" type="image/svg+xml")
